/* * {
    border: 1px solid red;
} */


html, body {
    background-color: rgb(251, 244, 194);
    margin: auto;  
    height: 100vh;
    width: 100vw;
}

header {
    text-align: center;
}

footer{
    text-align: center;
}
.container {
    margin: auto;
    background-color: whitesmoke;
    width: 80%;
    height: 85%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-content: center;

}

.top-section {
    margin: 0 auto;
    align-self: center;

}

.bottom-section {
    
}

.bottom-section h2 {
    text-align: center;
}

.books{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    height: 80%;
    gap: 15px;
    margin: 0 auto;
    background-color: rgb(232, 229, 224);
    padding: 15px;
    

}

.books p {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin: auto 0;
    
}
